In [2]:
import urllib.request
f = urllib.request.urlretrieve ("http://kdd.ics.uci.edu/databases/kddcup99/kddcup.data_10_percent.gz", "kddcup.data_10_percent.gz")

In [7]:
data_file = "./kddcup.data_10_percent.gz"
raw_data = sc.textFile(data_file)
raw_data.take(2)

['0,tcp,http,SF,181,5450,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,8,8,0.00,0.00,0.00,0.00,1.00,0.00,0.00,9,9,1.00,0.00,0.11,0.00,0.00,0.00,0.00,0.00,normal.',
 '0,tcp,http,SF,239,486,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,8,8,0.00,0.00,0.00,0.00,1.00,0.00,0.00,19,19,1.00,0.00,0.05,0.00,0.00,0.00,0.00,0.00,normal.']

In [10]:
ints = sc.parallelize(range(10))
ints.take(11)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
squares = ints.map(lambda num : num * num)
squares.take(11)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
evens = ints.filter(lambda num : num % 2 == 0)
evens.take(11)

[0, 2, 4, 6, 8]

In [15]:
sumRDD = ints.reduce(lambda a , b  : a + b )
sumRDD

45

In [18]:
docsRDD = sc.parallelize([('w1' ,'w2' , 'w3') , ('w2' , 'w3') , ('w4' , 'w5') , ('w2' ,'w4')])

docsRDD.take(4)

wordsRDD = docsRDD.flatMap(lambda line : line)
wordsRDD.take(10)

['w1', 'w2', 'w3', 'w2', 'w3', 'w4', 'w5', 'w2', 'w4']

In [22]:
freqRDD = wordsRDD.map(lambda word : (word ,1)).reduceByKey(lambda wfa , wfb : (wfa + wfb))
freqRDD.take(10)

[('w3', 2), ('w4', 2), ('w1', 1), ('w2', 3), ('w5', 1)]

In [25]:
sortedRdd = freqRdd.sortBy(lambda (k, v): v, False)
sortedRdd.take(10)

SyntaxError: invalid syntax (<ipython-input-25-c1c0516d8277>, line 1)

In [26]:
sortAlpha = freqRDD.sortByKey()
sortAlpha.take(10)

[('w1', 1), ('w2', 3), ('w3', 2), ('w4', 2), ('w5', 1)]

In [39]:
from random import shuffle 

x = ['keep', 'the' , 'blue' , 'flag', 'high']

shuffle(x)

print(x)

['keep', 'the', 'high', 'blue', 'flag']

In [ ]:
import csv 
import json
import io
import avro.datafile
import avro.io


infile = open("C:/Users/User/Avro/DNAC test30-2.txt", "rb")
outfile = open('C:/Users/User/Avro/DNAC test30-2.csv' , "wb")


writer = csv.writer(outfile)


for row in json.loads(infile.read()):
    writer.writerow(row)

In [ ]:
import io
import avro.datafile
import avro.io

reader = avro.datafile.DataFileReader(open('C:/Users/User/Avro/DNAC test30-2.avro',"rb"),avro.io.DatumReader())
schema = reader.meta
print(schema)

In [9]:
import json 
import io
import avro.datafile
import avro.io

sourceFile = open('C:/Users/User/Avro/DNAC test30-2.avro' , "r")

json_data = json.load(sourceFile)

print (json_data)

SyntaxError: invalid syntax (<ipython-input-9-5ff3812e4465>, line 7)

In [4]:
import re 
mys = "blahblahblah"
pattern = "bla"

re.subn('a' , pattern , mys)

('blblahblblahblblah', 3)

In [27]:
import keyword 
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [70]:
first = "NYC"[0]
city = "SFO"
print(first)

ft = city[0]
print(ft)

N
S

In [89]:
city  = "NYC"
event = "Concert"

print("Welcome to the " + city + " and enjoy the "+ event)

print("Welcome to the %s" %city)

print("Welcome to the %s and enjoy the  %s" %(city, event))

Welcome to the NYC and enjoy the Concert
Welcome to the NYC
Welcome to the NYC and enjoy the  Concert

In [108]:
cars = ["BMW" , "Honda" , "Audi"]
cars.append("Benz")
cars.insert(1 , "Jeep")
print(cars)

x = cars.index("Honda")

print(x)

y = cars.pop()
print(y)

cars.remove("Jeep")
print(cars)


slicing = cars[ 0: 2]
print(slicing)


cars.sort()
print(cars.sort())

['BMW', 'Jeep', 'Honda', 'Audi', 'Benz']
2
Benz
['BMW', 'Honda', 'Audi']
['BMW', 'Honda']
None

In [121]:
cars = {"bmw" : {"Model": "550i" , "Year" : 2016} , {"Benz" : {"Model"  : "E350" ,"Year" : 2015}}}

SyntaxError: invalid syntax (<ipython-input-121-0a276bbd5162>, line 1)

In [8]:
gt_eq = 10 >= 11 
print(gt_eq)

False

In [18]:
not_output1 = not(10 > 10) 
print(not_output1)

True

In [22]:
bool_output = True or not False and False 
print(bool_output)


bool_output_1 = (10 == 10 or not 10 > 10) and 10 > 10
print(bool_output_1)

True
False

In [34]:
value = 'Orange'

if value == 'Green':
    print("Go")    
elif value == "Yellow":
    print("Prepare to stop")    
else:
    print("Stop")

Stop

In [42]:
x = 0 
while x < 10:
    print("Vlaue of x is: " + str(x))
    x = x + 1
    
    
    if x == 8:
        break
    
    print("This example is awesome")
    print("*" * 20)
    print("Just broke out of the loop")

Vlaue of x is: 0
This example is awesome
********************
Just broke out of the loop
Vlaue of x is: 1
This example is awesome
********************
Just broke out of the loop
Vlaue of x is: 2
This example is awesome
********************
Just broke out of the loop
Vlaue of x is: 3
This example is awesome
********************
Just broke out of the loop
Vlaue of x is: 4
This example is awesome
********************
Just broke out of the loop
Vlaue of x is: 5
This example is awesome
********************
Just broke out of the loop
Vlaue of x is: 6
This example is awesome
********************
Just broke out of the loop
Vlaue of x is: 7

In [50]:
#my_string = 'abcabc'

#for c in my_string:
    #print(c, end=' ')
    

    
    
cars =[ "BMW" , "Audi" , "Merc"]
for car in cars:
    print(car)
    
nums = [1,2,3]
for n in nums:
    print(n * 10)
    
    
d = {'One' : 1 , 'Two' : 2 , 'Three' : 3}
for k in d:
    print(k + " "  +  str(d[k]))
    
    
for k,v in  d.items():
    print(k)
    print(v)

BMW
Audi
Merc
10
20
30
One 1
Two 2
Three 3
One
1
Two
2
Three
3

In [51]:
l1 = [1 ,2,3]
l2 = [6,7,8,11,12,22]

for a ,b in zip(l1,l2):
    print(a)
    print(b)

1
6
2
7
3
8

In [58]:
print(list(range(1,10)))

a = range(0,20,5)
print(a)
print(type(a))


print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 20, 5)
<class 'range'>
[0, 5, 10, 15]

In [62]:
def sum_nums(n1 , n2):
    print(n1 + n2)
    
sum_nums(8,6)
sum_nums(48415486541864,45789486348613)



l = [1,2,3]
print(l.append(4))
print(l)

print(len(l))

14
94204972890477
None
[1, 2, 3, 4]
4

In [8]:
def sum_nums(n1 , n2):
    
    return n1 + n2


sum1 = sum_nums(2,8)

sum2 = sum_nums(3,5)

print(sum2)
print("****************")



def isMetro(city):
    l = ['SFO', 'NYC', 'LA']
    if city in l:
        return True
    else:
        return False
    
x = isMetro('Boston')
print(x)

8
****************
False

In [13]:
a = 10 

def test_method():
    global a 
    print("Value of local a is: " + str(a))
    a = 2
    print("New Value of local a is: " + str(a))
    
    
print("Value of local a is: " + str(a))
test_method()
print("Did the value of global a change?? " + str(a))

Value of local a is: 10
Value of local a is: 10
New Value of local a is: 2
Did the value of global a change?? 2

In [19]:
def largest_nums(*args):
    print(max(args))
    


largest_nums(-20,-10,0,10,100)


def smallest_nums(*args):
    print(min(args))
    return(max(args))


smallest_nums(-20,-10,0,10,100)



def abs_function(a):
    print(abs(a))
    
abs_function(-20)



print(type(99))
print(type(99.99))
print(type("99.99"))

l = [1,2,3]
print(type(l))

100
-20
20
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

In [22]:
def calculateNetIncome(gross , state):
    
    state_tax = {'CA' : 10 , 'NY' : 9 , 'TX' : 0 , 'NJ' : 6}
    
    net = gross - (gross * .10)
    
    if state in state_tax:
        net = net - (gross * state_tax[state] / 100)
        print("Your net income after all the heavy tax is: " + str(net))
        return net
    else:
        print("State not in the list")
        return None
    
calculateNetIncome(100000 , 'NY')

Your net income after all the heavy tax is: 81000.0

81000.0

In [2]:
class Car(object):
    
    wheels = 4
    
    def __init__(self, make,model):
        self.make = make 
        self.model = model
        
    def info(self):
        print("Make of the car: " + self.make)
        print("Make of the model: " + self.model)

c1 = Car('BMW' , '550i')
c1.info()


c2 = Car('Benz' , 'E350')
c2.info()

Make of the car: BMW
Make of the model: 550i
Make of the car: Benz
Make of the model: E350

In [1]:
 import turtle 
 t = turtle.pen()
 for i in range(0,8):
    t.forward(50)
    t.left(45)

AttributeError: 'dict' object has no attribute 'forward'