In [2]:
from time import time 

start=time()
employee = sc.textFile("./employees.csv")
end = time() - start

In [6]:
def tell_time(start ,end):
    print ("The time of the operation is :" , (end-start) , "s")

In [7]:
start=time()
employee.collect()
end = time()
tell_time(start ,end)

The time of the operation is : 3.163187265396118 s

In [12]:
employee.take(2)

["Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Date of Birth,Time of Birth,Age in Yrs.,Weight in Kgs.,Date of Joining,Quarter of Joining,Half of Joining,Year of Joining,Month of Joining,Month Name of Joining,Short Month,Day of Joining,DOW of Joining,Short DOW,Age in Company (Years),Salary,Last % Hike,SSN,Phone No. ,Place Name,County,City,State,Zip,Region,User Name,Password",
 '850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,12/12/1971,6:34:47 AM,45.66,44,12/18/2010,Q4,H2,2010,12,December,Dec,18,Saturday,Sat,6.61,119090,17%,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&']

In [15]:
without_header = employee.filter(lambda r : (r!= header))
print without_header.first()

SyntaxError: invalid syntax (<ipython-input-15-47cb95363fd0>, line 2)

In [1]:
import pandas as pd

airports = pd.read_csv('C:/Users/User/airports.csv')
airport_freq = pd.read_csv('C:/Users/User/airport-frequencies.csv')
runways = pd.read_csv('C:/Users/User/runways.csv')

In [3]:
airports.head(3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN

In [4]:
airports[airports.ident == 'KLAX'].id

27656    3632
Name: id, dtype: int64

In [5]:
airports.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [ ]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'seaplane_base')]

In [12]:
airports[(airports.iso_region == 'US-CA') & (airports.type == 'large_airport')][['ident','name','municipality']]

      ident                                             name   municipality
26027  KBAB                             Beale Air Force Base     Marysville
26866  KEDW                           Edwards Air Force Base        Edwards
27656  KLAX                Los Angeles International Airport    Los Angeles
28183  KOAK       Metropolitan Oakland International Airport        Oakland
28239  KONT                    Ontario International Airport        Ontario
29759  KSAN                  San Diego International Airport      San Diego
29799  KSFO              San Francisco International Airport  San Francisco
29820  KSJC  Norman Y. Mineta San Jose International Airport       San Jose
29842  KSMF                 Sacramento International Airport     Sacramento
29848  KSNA         John Wayne Airport-Orange County Airport      Santa Ana
29897  KSUU                            Travis Air Force Base      Fairfield
30129  KVBG                        Vandenberg Air Force Base         Lompoc

In [ ]:
import io

from pdfminer.converter import TextConverter
from pdfminer.pdfinterp import PDFPageInterpreter
from pdfminer.pdfinterp import PDFResourceManager
from pdfminer.pdfpage import PDFPage

def extract_text_from_pdf(pdf_path):
    resource_manager = PDFResourceManager()
    fake_file_handle = io.StringIO()
    converter = TextConverter(resource_manager, fake_file_handle)
    page_interpreter = PDFPageInterpreter(resource_manager, converter)
    with open(pdf_path, 'rb') as fh:
        for page in PDFPage.get_pages(fh, 
                                      caching=True,
                                      check_extractable=True):
            page_interpreter.process_page(page)
        text = fake_file_handle.getvalue()
    # close open handles
    converter.close()
    fake_file_handle.close()
    if text:
        return text
if __name__ == '__main__':
    print(extract_text_from_pdf('pdf_textmining.pdf'))

In [ ]:
# miner_text_generator.py
import io
from pdfminer.converter import TextConverter
from pdfminer.pdfinterp import PDFPageInterpreter
from pdfminer.pdfinterp import PDFResourceManager
from pdfminer.pdfpage import PDFPage
def extract_text_by_page(pdf_path):
    with open(pdf_path, 'rb') as fh:
        for page in PDFPage.get_pages(fh, 
                                      caching=True,
                                      check_extractable=True):
            resource_manager = PDFResourceManager()
            fake_file_handle = io.StringIO()
            converter = TextConverter(resource_manager, fake_file_handle)
            page_interpreter = PDFPageInterpreter(resource_manager, converter)
            page_interpreter.process_page(page)
            text = fake_file_handle.getvalue()
            yield text
            # close open handles
            converter.close()
            fake_file_handle.close()
def extract_text(pdf_path):
    for page in extract_text_by_page(pdf_path):
        print(page)
        print()
if __name__ == '__main__':
    print(extract_text('pdf_textmining.pdf'))

In [2]:
from itertools import cycle 
from operator import add

In [2]:
i = 4
type(i)

int

In [3]:
if (i == 0):
    print("i is 0")
else:
    print("i is not 0")

i is not 0

In [3]:
import numpy as np 
import pandas as pd 
import sys
from pandas import Series,DataFrame
from sklearn.linear_model import LinearRegression

from bqplot import pyplot as plt

import bokeh

import time
import urllib
import matplotlib.dates as mdates


import csv

from math import pi
from numpy import random
from numpy.random import randn

from io import StringIO
from matplotlib.pyplot import *
from scipy import stats
from pandas_datareader import DataReader
from datetime import datetime
from __future__ import division

import matplotlib as mpl
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set_style('whitegrid')


%config SQL.conn_name = 'spark'
%matplotlib inline

sc = SparkContext.getOrCreate()

from pyspark import SparkContext , SparkConf
from pyspark.sql import SQLContext , HiveContext

from pyspark.sql import HiveContext
SQLContext = HiveContext

In [5]:
from pyspark.streaming import StreamingContext

ssc = StreamingContext(sc, 1)

In [6]:
input_stream = ssc.textFileStream("sampleTextDir")

In [8]:
word_pairs = input_stream.flatMap(lambda l:l.split(" ")).map(lambda w:(w,1))

In [10]:
counts = word_pairs.reduceByKey(lambda x,y : x + y)

counts.pprint()
ssc.start

In [6]:
n = list(zip(cycle(["even" , "odd"]) , range(20)))

In [7]:
n[:3]

[('even', 0), ('odd', 1), ('even', 2)]

In [8]:
numbers = sc.parallelize(n)

In [9]:
increased = numbers.mapValues(lambda x:x+1)

In [10]:
grouped = increased.reduceByKey(add)

In [11]:
grouped.collect()

[('even', 100), ('odd', 110)]

In [1]:
rdd = sc.parallelize([1,2,3,4,5])

In [15]:
doubled = rdd.map(lambda x : x * 2)

In [17]:

import numpy as np

TOTAL = 1000000
dots = sc.parallelize([2.0 * np.random.random(2) - 1.0 for i in range(TOTAL)]).cache()
print("Number of random points:", dots.count())

stats = dots.stats()
print('Mean:', stats.mean())
print('stdev:', stats.stdev())

b'(4) PythonRDD[7] at RDD at PythonRDD.scala:48 []\n |  ParallelCollectionRDD[6] at parallelize at PythonRDD.scala:489 []'

In [2]:
import random
num_samples = 100000000
def inside(p):     
  x, y = random.random(), random.random()
  return x*x + y*y < 1
count = sc.parallelize(range(0, num_samples)).filter(inside).count()
pi = 4 * count / num_samples
print(pi)
sc.stop()

3.14127096

In [1]:
data = sc.parallelize(range(10000))

In [2]:
numbers.map(lambda x : x * 10).collect()

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [21]:
def is_odd(x):
    return (x % 2)

In [22]:
numbers.filter(is_odd).collect()

[1, 3, 5, 7, 9]

In [51]:
rdd = sc.parallelize(["a" , "b"]).cartesian(sc.parallelize(range(100)))

In [49]:
rdd2 = sc.parallelize([1,1,4,9])

In [53]:
first = rdd.map(lambda x : x[0])

In [55]:
first.distinct().collect()

['b', 'a']

In [65]:
pairs = sc.parallelize([[1,1] , [1,2] , [2,3] , [3,3]])

In [67]:
pairs.repartitionAndSortWithinPartitions(2).glom().collect()

[[(2, 3)], [(1, 1), (1, 2), (3, 3)]]

In [58]:
combinations = ice_creams.cartesian(cookies)

In [7]:
numbers1 = sc.parallelize(range(10000) , numSlices = 10)

In [10]:
numbers1.countApproxDistinct(relativeSD = 0.4)

9618

In [24]:
numbers = sc.parallelize(range(1000) , numSlices=5)

In [28]:
numbers.saveAsTextFile("Our_test_numbers.gz" , compressionCodecClass = "org.apache.hadoop.io.compress.GzipCodec")

In [ ]:
numbers.takeSample(withReplacement = True , num=10000 , seed=1)

In [42]:
pairs = sc.parallelize([("a" , 1 ) , ("b" , 2) , ("b" , 3)] , numSlices=4)

In [43]:
pairs.groupByKey().collect()

[('b', <pyspark.resultiterable.ResultIterable at 0x12ef6525ac8>),
 ('a', <pyspark.resultiterable.ResultIterable at 0x12ef65258d0>)]

In [46]:
[x for x in pairs.groupByKey().collect()[0][1]]

[2, 3]

In [31]:
def add_to_queue(x , queue=[]):
    queue += [x]
    return queue

In [34]:
numbers = sc.parallelize(range(100))

In [35]:
numbers.foreach(add_to_queue)

In [36]:
add_to_queue(5)

[3, 4, 5]

In [ ]:
num = sc.parallelize([("a" , 1 ) ,("a" , 2) ("b" , 3) , ("c" , 4)] , numSlices = 4)

In [49]:
states = sc.parallelize(["TX", "TX","CA","TX","CA"])

In [51]:
import operator

In [53]:
states.map(lambda x : (x ,1)).reduceByKey(operator.add).collect()

[('TX', 3), ('CA', 2)]

In [54]:
zero_value = set()

In [62]:
def seq_op(x,y):
    x.add(y)
    return x

In [56]:
numbers = sc.parallelize([0,0,1,1,2,5,6,7,8,9]).map(lambda x : ["even" if (x % 2 == 0) else "odd" , x])

In [63]:
numbers.aggregateByKey(zero_value , seq_op , comb_op).collect()

[('even', {0, 2, 6, 8}), ('odd', {1, 5, 7, 9})]

In [60]:
def comb_op(x,y):
    return x.union(y)

In [64]:
pairs = sc.parallelize([("B" , 1) , ("a" , 1 ) , ("A" , 3) , ("d" , 4)])

In [72]:
pairs.sortByKey(keyfunc=lambda x : x.lower()).collect()

[('a', 1), ('A', 3), ('B', 1), ('d', 4)]

In [74]:
a = sc.parallelize([(1 , "a") , (2 , "a")])

In [80]:
b = sc.parallelize([(2 , "b") , (2 , "c") , (3 , "d")])

In [77]:
c = sc.parallelize([(2 , "b") , (3 , "b") , (2 , "c")])

In [82]:
a.cogroup(b).mapValues(lambda x : [list(x[0]) , list(x[1])]).collect()

[(1, [['a'], []]), (2, [['a'], ['b', 'c']]), (3, [[], ['d']])]

In [ ]:
sc.wholeTextFiles("sample_input").collect()

In [87]:
sc.parallelize(["a" , 1 , {"Key" : "value"}]).saveAsPickleFile("picklefile")

In [88]:
sc.pickleFile("picklefile").collect()

['a', 1, {'Key': 'value'}]

In [ ]:
org.apache.hadoop.mapreduce
sc.newAPIHadoopFile
sc.newAPIHadoopRDD



rdd.saveAsHadoopFile(
path = "output-file",
outputFormatClass = "org.apache.hadoop.mapred.TextOutputFormat",
    keyClass=None,
    valueClass= None,
    keyConverter=None,
    valueConverter=None,
    conf=None,
    compressionCodecClass= "org.apache.hadoop.io.compress.GzipCodec")

In [94]:
important_data = 21

In [95]:
rdd = sc.parallelize(range(5))

In [96]:
rdd.map(lambda x : x + important_data).collect()

[21, 22, 23, 24, 25]

In [98]:
rdd.map(lambda x : x + important_data).repartition(2).map(lambda x : x + important_data).collect()

[42, 43, 44, 45, 46]

In [102]:
rdd.map(lambda x:x + important_data.value).collect()

[21, 22, 23, 24, 25]

In [103]:
important_data.unpersist()

In [104]:
 evens = sc.accumulator(0)

In [105]:
numbers = sc.parallelize(range(10))

In [106]:
def inc_and_report(x):
    global evens
    if(x % 2 == 0):
        evens += 1
    return x + 1

In [109]:
numbers.map(inc_and_report).collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [110]:
evens.value

10

In [111]:
ids = sc.parallelize(range(20))

In [113]:
ids.distinct().collect()

[0, 4, 8, 12, 16, 1, 5, 9, 13, 17, 2, 6, 10, 14, 18, 3, 7, 11, 15, 19]

In [114]:
from pyspark import AccumulatorParam

In [117]:
class SetAccumulatorParam(AccumulatorParam):
    def zero(self , initialValue):
        s = Set()
        s.add(initialValue)
        return s 
    def addInPlace(self , v1 , v2):
        return v1.union(v2)

In [118]:
ids_seen = sc.accumulator(None , SetAccumulatorParam())

In [119]:
def inc_and_note(x):
    global ids_seen
    ids_seen += x 
    return x + 1

In [ ]:
ids.map(inc_and_note).collect()

In [121]:
from pyspark.streaming import StreamingContext

In [122]:
ssc = StreamingContext(sc , 1)

In [123]:
input_stream = ssc.textFileStream("sample_input")

In [124]:
word_pairs = input_stream.flatMap(lambda l:l.split(" ")).map(lambda w : (w,1))

In [125]:
counts = word_pairs.reduceByKey(lambda x,y : x + y)

In [126]:
counts.pprint()

In [ ]:
ssc.start()

In [3]:
from pyspark.sql import SQLContext

In [ ]:
sqlContext = SQLContext(sc)

In [2]:
rdd = sc.parallelize([1,2,3,4,5])

rdd

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:489

In [6]:
doubled = rdd.map(lambda x : x * 2)

doubled.toDebugString()

b'(4) PythonRDD[3] at RDD at PythonRDD.scala:48 []\n |  ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:489 []'

In [5]:
Div = sc.textFile("C:/Dividends.txt")

# Itversity

In [4]:
import pandas as pd 
iris = pd.read_csv("iris.csv")
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
iris = spark.read.csv( "iris.csv", header=True, mode="DROPMALFORMED")

In [13]:
df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('iris.csv')

In [16]:
df1 = sqlContext.read.load ("iris.csv", format='com.databricks.spark.csv',header='true',inferSchema='true')

In [ ]:
from pyspark.sql import SQLContext
from pyspark.sql import HiveContext
sqlContext = HiveContext(sc)
#depts = sqlContext.sql("Select * from Departments")
sep_len = sqlContext.sql("select * from df1")
for rec in depts.collect():
    print(rec)

# DZONE

In [5]:
from pyspark.sql import *
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('Basher', 'armbrust', 'bash@edureka.co', 100000)
employee2 = Employee('Daniel', 'meng', 'daniel@stanford.edu', 120000 )
employee3 = Employee('Muriel', None, 'muriel@waterloo.edu', 140000 )
employee4 = Employee('Rachel', 'wendell', 'rach_3@edureka.co', 160000 )
employee5 = Employee('Zach', 'galifianakis', 'zach_g@edureka.co', 160000 )

print(employee3)


department1 = Row(id='123456', name='HR')
department2 = Row(id='789012', name='OPS')
department3 = Row(id='345678', name='FN')
department4 = Row(id='901234', name='DEV')

Row(firstName='Muriel', lastName=None, email='muriel@waterloo.edu', salary=140000)

In [7]:
import numpy as np
expenditure = np.random.normal(25000,15000,10000)
np.median(expenditure)

24702.54270500423

In [10]:
expenditure = np.append(expenditure , [1000000000000000])
np.mean(expenditure)
#np.median(expenditure)

299910051821.55994

In [11]:
expenditure = np.random.randint(15 , high=50 , size=200)
(expenditure)

array([17, 41, 43, 19, 34, 28, 30, 33, 34, 48, 32, 29, 21, 49, 45, 29, 30,
       47, 29, 37, 35, 25, 49, 38, 31, 39, 18, 25, 26, 34, 46, 41, 49, 24,
       20, 40, 16, 48, 24, 16, 27, 28, 29, 15, 41, 19, 46, 34, 18, 49, 24,
       37, 42, 35, 23, 25, 42, 27, 29, 23, 16, 21, 20, 34, 22, 23, 18, 20,
       38, 36, 39, 26, 43, 30, 22, 16, 20, 28, 16, 21, 44, 29, 39, 27, 42,
       19, 35, 23, 19, 24, 15, 41, 36, 16, 17, 31, 25, 26, 41, 28, 40, 34,
       37, 27, 45, 24, 35, 20, 37, 33, 46, 43, 20, 25, 41, 18, 29, 43, 34,
       31, 37, 48, 16, 47, 29, 27, 38, 46, 17, 18, 46, 41, 34, 26, 40, 34,
       46, 21, 39, 17, 33, 41, 48, 30, 43, 16, 45, 30, 30, 25, 31, 42, 29,
       17, 21, 44, 37, 33, 28, 24, 38, 39, 38, 48, 21, 31, 46, 47, 41, 36,
       19, 38, 24, 15, 18, 33, 45, 36, 33, 18, 32, 29, 34, 25, 36, 24, 17,
       41, 19, 35, 37, 17, 33, 45, 20, 49, 33, 25, 47, 33])

In [12]:
from scipy import stats
stats.mode(expenditure)

ModeResult(mode=array([29]), count=array([10]))

# Weather Data Analysis

In [2]:
from pyspark import SparkConf , SparkContext
lines = sc.textFile('C:/Users/User/Tempreture.csv')

In [1]:
from pyspark import SparkConf , SparkContext
autodata = sc.textFile('C:/Users/User/auto-data.csv')

In [2]:
autodata.count()

198

In [6]:
autodata.take(5)
#autodata.first()

['MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE',
 'subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118',
 'chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151',
 'mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195',
 'toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348']

In [ ]:
for line in autodata.collect():
    print(line)

In [10]:
colldata = sc.parallelize([3,5,4,7,4])
colldata.count()

5

In [4]:
def parsed_Line(line):
    fields = line.split(',')
    stationID = fields[0]
    entryType = fields[2]
    tempreture = float(fields[3]) * 0.1 * (9.0/5.0) + 32.0
    return(stationID , entryType , tempreture )

parsed_res = lines.map(parsed_Line)

In [7]:
tmin_filtered = parsed_res.filter(lambda x : "TMIN" in x[1])
#tmin_filtered.take(10)
temp_min = temp_station.reduceByKey(lambda x , y : min(x ,y))

NameError: name 'temp_station' is not defined